.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.titleContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:64px;
  font-weight:bolder;
}
.inputContainer {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}
.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*home page background */
.login-background {
  background-image: url('../images/image_bg.jpg'); 
  background-size: cover;
  background-position: center;
  height: 100vh; /* Full viewport height */
}

/* Styles for centering and styling the register form */
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

.register-form input,
.register-form button {
  width: 300px; /* Larger width */
  padding: 10px; /* More padding for better visuals */
  margin: 10px 0; /* Spacing between fields */
  border-radius: 5px; /* Rounded corners */
  font-size: 16px; /* Larger font size */
}

.register-form button {
  background-color: #4CAF50; /* Example button color */
  color: white;
  border: none;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #45a049; /* Slightly darker on hover */
}

/* Style for the new user prompt */
.new-user-prompt {
  margin-bottom: 20px;
  font-size: 60px;
  color: #333;
  /* Add more styling as needed */
}

/* Style for the login redirect button */
.redirect-login-btn {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 16px;
}

